@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1 class="text-center">Products</h1>
    <div class="row parent-products-elem" data-count="@ViewBag.Count">
        <partial name="_ProductPartial"/>
    </div>
    
    <div class="d-flex justify-content-center" data-count="@ViewBag.Count">
        <button class="btn btn-outline-success my-5 load-more">Show more</button>
       
    </div>
</div>

@section scripts{
    <script src="~/js/load.js"></script>
}